{% extends 'base.html' %}

{% block homeactive %}active{% endblock %}

{% block content %}
        
<div class="card"> 
	<div class="card-header">
		<h3>Home</h3>
	</div>
	<div class="card-body">
		<div class="row">
            <div class="col-8">
                This webpage collects data from people playing puzzle <a href="https://en.wikipedia.org/wiki/Rush_Hour_(puzzle)">Rush Hour</a> for later analyzing. 
                The data will be used in a diploma thesis research. <br> <br>
        
                Your goal in this puzzle game is to slide the blocks in order to free the red block outside of the game board. Blocks ofcourse can't overlap with other blocks or walls at any point. <br> <br>
            
                Webpage also has simple leaderboard based on sum of points from solved levels (these levels are dynamically graded points)
            </div>
         
            <div class="col-4" style="text-align: center">Example board: <br> <img src="https://puu.sh/BmXj9/31e965f3c6.png"></div>
        </div>
	</div>
</div>

{% endblock %}